.background {
  background: plum;
  color: purple;
}

.principal {
  background: powderblue;
  font-style: italic;
  color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}